<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Click2Dial>
            <version>0.1.0</version>
        </Elgentos_Click2Dial>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_Click2Dial>
                    <files>
                        <default>Elgentos_Click2Dial.csv</default>
                    </files>
                </Elgentos_Click2Dial>
            </modules>
        </translate>
        <layout>
            <updates>
                <click2dial>
                    <file>click2dial.xml</file>
                </click2dial>
            </updates>
        </layout>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <click2dial translate="title" module="click2dial">
                                            <title>Click2Dial</title>
                                        </click2dial>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <click2dial>
                        <type>singleton</type>
                        <class>Elgentos_Click2Dial_Model_Header</class>
                        <method>add</method>
                    </click2dial>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <admin>
        <routers>
            <click2dial>
                <use>admin</use>
                <args>
                    <module>Elgentos_Click2Dial</module>
                    <frontName>click2dial</frontName>
                </args>
            </click2dial>
        </routers>
    </admin>
    <global>
        <blocks>
            <click2dial>
                <class>Elgentos_Click2Dial_Block</class>
            </click2dial>
        </blocks>
        <models>
            <click2dial>
                <class>Elgentos_Click2Dial_Model</class>
            </click2dial>
        </models>
        <resources>
            <click2dial_setup>
                <setup>
                    <module>Elgentos_Click2Dial</module>
                    <class>Elgentos_Click2Dial_Model_Mysql4_Setup</class>
                </setup>
            </click2dial_setup>
        </resources>

        <helpers>
            <click2dial>
                <class>Elgentos_Click2Dial_Helper</class>
            </click2dial>
        </helpers>
    </global>

    <default>
        <disable>0</disable>
        <origin>+315012345678</origin>
        <extension>201</extension>
        <autoanswer>0</autoanswer>
        <api>https://client.voipgrid.nl/api/clicktodial/</api>
    </default>
</config>
